In [92]:
import pandas as pd
import os

In [93]:
datasets_path = "..\\coleta_dados\\out"

onlyfiles = [os.path.join(dirpath,f) for (dirpath, dirnames, filenames) in os.walk(datasets_path) for f in filenames]

print(len(onlyfiles))
print(onlyfiles)

df = pd.concat(map(pd.read_csv, onlyfiles), ignore_index=True)

df.shape

15
['..\\coleta_dados\\out\\movie_plots_1000000_1001000.csv', '..\\coleta_dados\\out\\movie_plots_100000_101000.csv', '..\\coleta_dados\\out\\movie_plots_101000_102000.csv', '..\\coleta_dados\\out\\movie_plots_1201000_1202000.csv', '..\\coleta_dados\\out\\movie_plots_1300000_1301000.csv', '..\\coleta_dados\\out\\movie_plots_1350000_1351000.csv', '..\\coleta_dados\\out\\movie_plots_1400000_1401000.csv', '..\\coleta_dados\\out\\movie_plots_1450000_1451000.csv', '..\\coleta_dados\\out\\movie_plots_1500000_1501000.csv', '..\\coleta_dados\\out\\movie_plots_1550000_1551000.csv', '..\\coleta_dados\\out\\movie_plots_201000_202000.csv', '..\\coleta_dados\\out\\movie_plots_600000_601000.csv', '..\\coleta_dados\\out\\movie_plots_700000_701000.csv', '..\\coleta_dados\\out\\movie_plots_801000_802000.csv', '..\\coleta_dados\\out\\movie_plots_900000_901000.csv']

(13072, 16)

In [94]:
df['title'] = df['title'].str.upper()
df['rated'] = df['rated'].str.upper()
df['genre'] = df['genre'].str.upper()
df['director'] = df['director'].str.upper()
df['writer'] = df['writer'].str.upper()
df['actors'] = df['actors'].str.upper()
df['plot'] = df['plot'].str.upper()
df['language'] = df['language'].str.upper()
df['country'] = df['country'].str.upper()
df['awards'] = df['awards'].str.upper()

df.head()

,title,year,rated,runtime,genre,director,writer,actors,plot,language,country,awards,imdb_rating,imdb_votes,imdb_id,metascore
0,THE ASSOCIATE,2012,NaN,NaN,SHORT,SHANE LEAL-WILLETT,CHARLES TAYLOR WIDEMAN,"BRANT BUMPERS, MICHAEL D. BURGER",NaN,ENGLISH,USA,NaN,NaN,NaN,tt2404308,NaN
1,MADAGASCAR: THE LOST MAKAY,2011,NOT RATED,89 min,DOCUMENTARY,PIERRE STINE,"PIERRE STINE, EVRARD WENDENBAUM, BLANCHE DE RI...","ELODIE COURTOIS, TANGUY DAUFRESNE, RAINER DOLCH",COME AND JOIN A GROUP OF FRENCH SCIENTISTS ON ...,"ENGLISH, FRENCH","FRANCE, BELGIUM",NaN,6.6,27,tt2404309,NaN
2,THE FAMILY,2013,R,111 min,"COMEDY, CRIME, THRILLER",LUC BESSON,"LUC BESSON, MICHAEL CALEO, TONINO BENACQUISTA","ROBERT DE NIRO, MICHELLE PFEIFFER, DIANNA AGRON",A MAFIA BOSS AND HIS FAMILY ARE RELOCATED TO A...,"ENGLISH, FRENCH, ITALIAN","FRANCE, UNITED KINGDOM, UNITED STATES",1 WIN & 1 NOMINATION TOTAL,6.3,"126,304",tt2404311,42.0
3,MISS MOUSKOURI,2007,NaN,8 min,"SHORT, COMEDY",TIMOTHY SPANOS,TIMOTHY SPANOS,"TIM BURNS, MAXINE KLIBINGAITIS",A LONELY LADY VISITS HER PSYCHIATRIST AND CLAI...,ENGLISH,AUSTRALIA,NaN,8.0,21,tt2404321,NaN
4,PLAYPALS,2012,NaN,11 min,"SHORT, COMEDY, DRAMA",YIANNI WARNOCK,YIANNI WARNOCK,"PETER FLAHERTY, SHANE GREGORY GARDINER",A MAN YEARNS HELPLESSLY IN HIS HOME ATTEMPTING...,NaN,NaN,NaN,NaN,NaN,tt2404331,NaN

In [95]:
# remover registros com coluna plot e genre vazias
df = df.dropna(subset=['plot', 'genre'])
df = df.reset_index(drop=True)

df.shape

(9086, 16)

In [96]:
# remover colunas desnecessárias
# df = df.drop(columns=['metascore', 'country', 'awards', 'language', 'imdb_id'])
# manter apenas plot e genre
df = df[['plot', 'genre']]

# manter apenas filmes com apenas 1 gênero
df = df[df['genre'].str.count(',') == 0]
df = df.reset_index(drop=True)

In [97]:
df.shape

(3060, 2)

In [98]:
df.head(500)

                                                  plot        genre
0    COME AND JOIN A GROUP OF FRENCH SCIENTISTS ON ...  DOCUMENTARY
1    EMILIO ORTIZ IS AND HIS BEST FRIEND BERNA ARE ...       COMEDY
2    HALLIE BENSON IS A SMALL GIRL WITH A BIG HEART...        DRAMA
3    SZIRTES'S MASTERFUL EXPERIMENTAL WORK IS A DAZ...        SHORT
4    A MONTAGE OF IMAGE AND SOUND REPRESENTING THE ...        SHORT
..                                                 ...          ...
495  ENGLISH THESPIAN SEAN PERTWEE PLAYS THE PAINFU...        DRAMA
496  A REPRESSED NIGHT-SCHOOL TEACHER, SECRETLY HOM...        DRAMA
497  THE FILM CAPTURES THE MAGIC OF USTAD BISMILLAH...  DOCUMENTARY
498  1930'S WAS AN ANXIOUS DECADE IN EUROPE, AND TH...        DRAMA
499  TARMO, YOUNG NEPHEW OF UNCLE-SCROOGE-LIKE CONS...       COMEDY

[500 rows x 2 columns]

In [99]:
df.to_csv('..\\movies_dataset\\movie_plots_dataset.csv')